:root{
    --pr-bg-color: #3b577d;
    --sc-bg-color: #3b577d;
    --font-color: #ddf5f7;
    --pr-effect-color: #c0d9e5;
    --sc-effect-color: #FB2576;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    background: var(--pr-bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background: url(../images/banner/banner2.jpg) no-repeat;
    background-size: cover;
    width: 98%;
    height: 88%;
    position: relative;
}

.container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    max-width: 100px;
    height: 2.8em;
    padding-top: 0.5em; 
    background-color: var(--sc-bg-color);
}

nav{
    justify-content: flex-start;
    width: 100%;
    /* border: 2px solid white; */
    position: relative;
    height: 4em;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.access{
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
   position: absolute;
}
li ,a{
    color: var(--font-color);
    list-style: none;
    padding-left: 0.4em;
    font-weight: 700;
}
li ,a:hover{
    color: var(--pr-bg-color);
}
a{
    text-decoration: none;
}
 /* background image */

.photo{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0; 
}
#intro{
    color: var(--sc-effect-color);
    font-size: 3em;
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    padding-bottom: 0.3em;
}

/* effect on nav bar */
.logo, #home, #sign-up {
    padding-right: 3px;
    background-color: var(--sc-effect-color);
    border-radius: 5px;
    padding: 0.2em;
}
.show{
    max-width: 20em;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 1em;
}
.slide{
    width: 4em;
    height: auto;
    margin-right: 0.3em;
    border: var(--sc-effect-color) 0.2em solid;
}
.slide2, .slide3{
    width: 4em;
    height: 4em;
    border: var(--pr-bg-color) 0.2em solid;
    margin-right: 0.3em;
}

/* sign up */

h1{
    color: var(--sc-effect-color);
    font-size: 2.5em;
    bottom: 0;
    padding-left: 0.2em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    border: var(--pr-effect-color) 2px solid;
    padding: 10px;
}
input{
    width: 100%;
    height: 100%;
    margin-bottom: 6px;
    border-radius: 5%;
    padding-left: 10px;
    outline: none;
    box-shadow: 0 1px 5px 1px var(--sc-effect-color);
}
form a{
    font-size: 0.9em;
}
#submit{
    max-width: 80px;
    height: 30px;
    padding-right:7px;
    background-color: var(--sc-effect-color);
    border-radius: 5px;
    margin-top: 10px;
}

/* login */



/* media for medium screen */
@media screen and (max-width:412px) {
    #intro{
       position: relative;
       margin-top: 2em;
    }
}

/* media for small screen */
@media screen and (max-width:360px) {
    #intro{
        margin-top: 0;
        margin-left: 1em;
        font-size: 2em;
    }
}